<div class="container">
 <div class="row">
  <div class="col-md-12 py-5">
   <h5 class="text-center">本当に退会しますか？</h5>
  </div>
 </div>
 <div class="row">
  <div class="col-md-12 pb-5">
   <p class="text-center">退会すると、会員登録情報や</br>これまでの購入履歴が閲覧できなくなります。</br>退会する場合は「退会する」をクリックして下さい。</p>
  </div>
 </div>
 <div class="row">
     <div class="col-md-12 text-center">
     <div><%= link_to "退会しない", customers_my_page_path,class: "btn btn-primary text-center" %>
     <%= link_to "退会する", customers_hide_path,method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %></div>
     </div>
 </div>
</div>
