
<div class="container">
 <div class="row">
  <div class="col-md-12 mx-auto" style="height: 200px;"></div>
 </div>
 <div class="row align-items-center justify-content-center">
  <div class="col-md-4"></div>
  <div class="col-md-8">ようこそ、ながのCAKEへ！</br>このサイトは、ケーキ販売のECサイトになります。</br>会員でない方も商品の閲覧はできますが、</br>購入には会員登録が必要になります。</br></div>
 </div>
</div>









