<div class="py-5">
    <div class="mx-auto"  style="width: 200px;">
        <p>
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。</br>
        </p>
    </div>
</div>

<div class="ml-5">
    <h2>新着商品</h2>
</div>