<div class= 'container-fruid'>
  <div class="row">
    <div class="col-md-12" style="height: 50px;"></div>
  </div>
  <div class= 'row mb-5'>
    <div class="col-md-2"></div>
    <div class='col-md-10'>
      <h4>ジャンル編集</h4>
    </div>
  </div>
  <%= form_with model:@genre, url:manager_genre_path, local:true do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <td width="20%">ジャンル名</td>
            <td width="30%"><%= f.text_field :name %></td>
            <td width="35%"><%= f.submit '　変更を保存　', class: 'btn btn-success' %></td>
          </tr>
          </tbody>
        </table>
    </div>
    <div class="col-md-5"></div>
    </div>
    <% end %>
</div>