<div class="container px-5 py-5">
  <div class="row mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h5>注文履歴一覧</h5></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>yyyy/mm/dd</td>
            <td>
              〒0000000<br>
              --------住所-------<br>
              宛名
            </td>
            <td>
              注文商品A<br>
              注文商品B
            </td>
            <td>0000円</td>
            <td>入金とか発送済みとか</td>
            <td>
              <button type="submit" class="btn btn-primary btn-sm">表示する</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>